{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/stylesheets/dashboard.css">
{% endblock %}


{% block content %}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Set up your page</h4>
      </div>
      <form action="/dashboard/create_page" method="POST">
        <div class="modal-body">
            <div class="form-group">
                <label for="page_name">Page Name</label>
                <input type="text" name="page_name" required>
            </div>
            <div class="form-group">
                <label for="template_id">Choose a Template</label>
                <!-- TODO: limit number input based on a DB query of how many tempaltes we have -->
                <input type="number" name="template_id" required>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary color-primary">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="cover">
    {% if user.is_authenticated() %}
    <div data-toggle="modal" data-target="#myModal" class="main-button">CREATE NEW PAGE</div>
    {% endif %}
</div> <!-- image added in js -->

<div class="header">
  <div class="header-nav">
    <div class="header-nav-item"><a href="/">Home</a></div>
    <div class="header-nav-item"><a href="/upload">Upload</a></div>
    <div class="header-nav-item"><a href="/browse">Browse</a></div>
    {% if user.is_anonymous() %}
    <div class="header-nav-item pull-right"><a href="/signup">Sign Up</a></div>
    <div class="header-nav-item pull-right"><a href="/login">Login</a></div>
    {% endif %}
    {% if user.is_authenticated() %}
    <div class="header-nav-item pull-right"><a href="/dashboard">Dashboard</a></div>
    <div class="header-nav-item pull-right"><a href="/logout">Logout</a></div>
    {% endif %}
  </div>
</div>

<div class="row text-center">
    <h1>My Sites</h1>
</div>

<div class="row">
    {% for site in sites %}
    <div class="col-md-4">
    <a href="/editor/?page_id={{site.page_id}}">
        <div class="site">
        <div class="siteName">{{ site.p_name }}</div>
        <div class="builtWith">built with the "{{ site.t_name }}" template</div>
        </div>
    </a>
    </div>
    {% endfor %}
</div>

{% endblock %}


{% block js %}
<script src="/static/js/dashboard.js"></script>
{% endblock %}