{% extends "base.html" %}

{% block stylesheets %}
<link href="/static/stylesheets/main.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="cover"></div> <!-- image added in js / css -->

<div class="header">
  <div class="header-nav">
    <div class="header-nav-item"><a href="#">Home</a></div>
    <div class="header-nav-item"><a href="#">Try</a></div>
    <div class="header-nav-item"><a href="#">Create</a></div>
    <div class="header-nav-item"><a href="#">Browse</a></div>
    <div class="header-nav-item pull-right"><a href="#">Login</a></div>
  </div>
</div>

<div class="logo"></div>

<div class="row">
<!-- insert most important content here -->
  <div class="col-md-6 text-center">
    <h3>Header One</h3>
    Some text in here blah blah blah blah blah
    Some text in here blah blah blah blah blah
    Some text in here blah blah blah blah blah
    Some text in here blah blah blah blah blah
    Some text in here blah blah blah blah blah
    Some text in here blah blah blah blah blah
  </div>
  <div class="col-md-6 text-center">
    <h3>Header Two</h3>
    Some text in here blah blah blah blah blah
    Some text in here blah blah blah blah blah
    Some text in here blah blah blah blah blah
    Some text in here blah blah blah blah blah
    Some text in here blah blah blah blah blah
    Some text in here blah blah blah blah blah
    Some text in here blah blah blah blah blah
  </div>
</div>

<div class="row">
<!-- insert some visual break here -->

<p>{{ data }}</p>


</div>


{% endblock %}

