{% extends "base.html" %}

{% block stylesheets %}
<link href="/static/stylesheets/main.css" rel="stylesheet">
{% endblock %}

{% block content %}


<div class="cover">
  {% if user.is_anonymous() %}
  <div id="signUpButton">SIGN UP</div>
  {% endif %}
  <div class="logo"><img src="/static/img/logo.png" /></div>
</div> <!-- image added in js -->

<div class="header">
  <div class="header-nav">
    <div class="header-nav-item"><a href="/">Home</a></div>
    <div class="header-nav-item"><a href="/upload">Upload</a></div>
    <div class="header-nav-item"><a href="/create">Create</a></div>
    <div class="header-nav-item"><a href="/browse">Browse</a></div>
    {% if user.is_anonymous() %}
    <div class="header-nav-item pull-right"><a href="/signup">Sign Up</a></div>
    <div class="header-nav-item pull-right"><a href="/login">Login</a></div>
    {% endif %}
    {% if user.is_authenticated() %}
    <div class="header-nav-item pull-right"><a href="/dashboard">Dashboard</a></div>
    <div class="header-nav-item pull-right"><a href="/logout">Logout</a></div>
    {% endif %}
  </div>
</div>

<div class="logo"></div>
<section>
<div class="row">
<!-- insert most important content here -->
  <div class="col-md-6 text-center">
    <h3>What We Do</h3>
    Some text in here blah blah blah blah blah
    Some text in here blah blah blah blah blah
    Some text in here blah blah blah blah blah
    Some text in here blah blah blah blah blah
    Some text in here blah blah blah blah blah
    Some text in here blah blah blah blah blah
  </div>
  <div class="col-md-6 text-center">
    <h3>Why You Care</h3>
    Some text in here blah blah blah blah blah
    Some text in here blah blah blah blah blah
    Some text in here blah blah blah blah blah
    Some text in here blah blah blah blah blah
    Some text in here blah blah blah blah blah
    Some text in here blah blah blah blah blah
    Some text in here blah blah blah blah blah
  </div>
</div>
</section>
<div class="row">
<!-- insert some visual break here -->




</div>


{% endblock %}

{% block js %}
<script src="/static/js/main.js"></script>
{% endblock %}
