{% extends "base.html" %}

{% block stylesheets %}
<link href="/static/stylesheets/login.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="mainBox">
<div class="logo"><img src="/static/img/white_logo.png" /></div>
<div class="containerThing">
<form action="/login/auth" method="POST">
  <div>
    <label for="username">Username</label>
    <input type="text" class="textThings" name="username" placeholder="Enter Username">
  </div>
  <div>
    <label class="marginStuff" for="password">Password</label>
    <input type="password" class="textThings" name="password" placeholder="Enter Password">
  </div>
  <button type="submit" class="someButtonThing">Submit</button>
</form>
</div>
</div>
{% endblock %}
