{% extends "base.html" %}

{% block stylesheets %}
<!-- <link href="/static/stylesheets/main.css" rel="stylesheet"> -->
{% endblock %}

{% block content %}

<div class="container">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Upload Files</strong> </div>
        <div class="panel-body">

          <!-- Standar Form -->
          <h4>Template Uploader</h4>
          <form action="/upload/template" method="post">
            <div class="form-inline">
              <div class="form-group">
                <label for="html">Template HTML</label>
                <textarea name="html" required></textarea>
              </div>
              <div class="form-group">
                <label for="css">Template CSS</label>
                <textarea name="css"></textarea>
              </div>
              <div class="form-group">
                <label for="js">Template JavaScript</label>
                <textarea name="js"></textarea>
              </div>
              <div class="form-group">
                <label for="template_name">Template Name</label>
                <input type="text" name="template_name" required>
              </div>
              <button type="submit" class="btn btn-sm btn-primary">Upload files</button>
            </div>
          </form>

        </div>
      </div>
    </div> <!-- /container -->

    {% endblock %}

{% block js %}
<script src="/static/js/upload.js"></script>
{% endblock %}