@import 'opts.less';
@import 'funcs.less';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

* {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    // .disableSelection;
    line-height: 1.428 !important;
}

.color-primary {
    background-color: @primary;
}

.cover {
    width: 100%;
    min-height: 400px;
    background-image: url('/static/images/dashboard.png');
    background-size: cover;
    background-position: 0 -200px;
    background-repeat: no-repeat;
}

.header {
    position: absolute;
    width: 100%;
    height: 64px;
    top: 0;
    background-color: rgba(0, 0, 0, .2);

    & .header-nav {


        & .header-nav-item {
            display: block;
            float: left;
            overflow: hidden;

            &:hover {
                background-color: rgba(0, 0, 0, .225);
            }
             
            & a {
                padding: 24px;
                color: white;
                font-size: 18px;
                line-height: 64px !important;
                text-decoration: none;
            }

            &.pull-right {
                background-color: rgba(0, 0, 0, .25);
                & a {
                    color: white;
                }
                &:hover {
                    background-color: rgba(0, 0, 0 , .4);
                }
            }
        }
    }
}

.main-button {
    position: absolute;
    top: 60%;
    left: 50%;
    .prefixed(transform, translate(-50%, -50%));

    text-align: center;
    line-height: 50px !important;
    font-size: 15pt;
    letter-spacing: 5px;

    // height: 75px;
    padding: 10px 20px;

    border-radius: 10px;
    border: none;

    background-color: fade(@primary, 70%);
    color: white;

    &:hover {
        cursor: pointer;
        background-color: fade(@secondary, 70%);
    }

    &:active {
        background-color: fade(@tertiary, 70%);
    }
}

.row {
    padding: 32px;
}

.site {
    background-color: @primary;
    height: 300px;
}
