// another dummy comment
// delete me later

@import "funcs.less";
@import "opts.less";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

* {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    .disableSelection;
}

.cover {
    width: 100%;
    min-height: 400px;
    background-image: url('/static/images/home.jpeg');
    background-size: cover;
}

.header {
    position: fixed;
    width: 100%;
    height: 64px;
    top: 0;
    background-color: fade(@primary, 50%);

    & .header-nav {


        & .header-nav-item {
            display: block;
            float: left;
            overflow: hidden;
            color: white;

            &:hover {
                background-color: fade(@primary, 80%);
            }
             
            & a {
                padding: 24px;
                color: white;
                font-size: 18px;
                line-height: 64px;
                text-decoration: none;
            }

            &.pull-right {
                background-color: fade(@primary-nav, 50%);
                & a {
                    color: white;
                }

                &:hover {
                    background-color: fade(@primary-nav, 80%);
                }
            }
        }
    }
}

#signUpButton {
    .disableSelection;
    position: absolute;
    top: 250px;
    left: 50%;
    .prefixed(transform, translateX(-50%));

    opacity: 0.7;

    text-align: center;
    line-height: 75px;
    font-size: 15pt;
    letter-spacing: 5px;

    height: 75px;
    width: 250px;

    border-radius: 10px;

    background-color: @primary;
    color: white;

    &:hover {
        cursor: pointer;
        background-color: @secondary;
    }

    &:active {
        background-color: @tertiary;
    }
}

.visible {
    visibility: visible !important;
    height: 50px !important;
}

#center {
    margin-top: 20px;
    position: absolute;
    left: 50%;
    .prefixed(transform, translateX(-50%));
}

.row {
    position: relative;
    padding: 32px;
}

.logo {
    position: absolute;
    top: 100px;
    height: 100px;
    width: 100px;
    left: 50%;
    .prefixed(transform, translateX(-50%));

    & img {
        height: 100%;
        width: 100%;
    }
}

h3 {
    line-height: 50px;
}

.alreadyUsed {
    text-align: center;
    line-height: 50px;
    font-size: 15pt;
    width: 300px;
    height: 0px;
    background-color: red;
    color: white;
    border-radius: 10px;

    visibility: hidden;
}

.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}
