// another dummy comment
// delete me later

@import "funcs.less";
@import "opts.less";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

* {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    line-height: 1.428 !important;
}

.cover {
    .disableSelection;
    width: 100%;
    min-height: 400px;
    background-image: url('/static/images/home.jpeg');
    background-size: cover;
}

.header {
    .disableSelection;
    position: fixed;
    width: 100%;
    height: 64px;
    top: 0;
    background-color: fade(@primary, 50%);

    & .header-nav {


        & .header-nav-item {
            display: block;
            float: left;
            overflow: hidden;
            color: white;

            &:hover {
                background-color: fade(@primary, 80%);
            }
             
            & a {
                padding: 24px;
                color: white;
                font-size: 18px;
                line-height: 64px !important;
                text-decoration: none;
            }

            &.pull-right {
                background-color: fade(@primary-nav, 50%);
                & a {
                    color: white;
                }

                &:hover {
                    background-color: fade(@primary-nav, 80%);
                }
            }
        }
    }
}

#signUpButton {
    .disableSelection;
    position: absolute;
    top: 60%;
    left: 50%;
    .prefixed(transform, translate(-50%, -50%));

    text-align: center;
    line-height: 75px !important;
    font-size: 15pt;
    letter-spacing: 5px;

    height: 75px;
    width: 250px;

    border-radius: 10px;

    background-color: fade(@primary, 70%);
    color: white;

    &:hover {
        cursor: pointer;
        background-color: fade(@secondary, 70%);
    }

    &:active {
        background-color: fade(@tertiary, 70%);
    }
}

.visible {
    visibility: visible !important;
    height: 50px !important;
}

#center {
    margin-top: 20px;
    position: absolute;
    left: 50%;
    .prefixed(transform, translateX(-50%));
}

.row {
    position: relative;
    padding: 32px;
}

.logo {
    position: absolute;
    top: 30%;
    height: 100px;
    width: 100px;
    left: 50%;
    .prefixed(transform, translate(-50%, -50%));

    & img {
        height: 100%;
        width: 100%;
    }
}

.fuckingContainer {
    position: relative;
    top: 50%;
    left: 50%;
    height: 350px;
    .prefixed(transform, translate(-50%, -50%));
}

.alreadyUsed {
    text-align: center;
    line-height: 50px !important;
    font-size: 15pt;
    width: 300px;
    height: 0px;
    background-color: red;
    color: white;
    border-radius: 10px;

    visibility: hidden;
}

.randomShitIGuessIDontKnow {
    margin-top: 50px;
    height: 600px;
    width: 100%;
    background-color: @secondary;
    overflow: hidden;
}

#randomShitContainer {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.randomShitContent {
    overflow: hidden;
    display: inline-block;
    height: 350px;
    width: 350px;
    margin: 10px;
    vertical-align: top;

    background-color: black;
}

.randomShitLogo {
    margin-top: 45px;
    height: 80px;
    width: 80px;

    & img {
        height: 100%;
        width: 100%;
    }
}

.randomShitTitle {
    margin-top: 20px;
    font-size: 20pt;
    font-weight: 300;
    letter-spacing: 5px;
    color: #979694;
}

.randomShitDescription {
    font-size: 12pt;
    max-width: 300px;
    margin-top: 30px;
    color: #979694;

    & a {
        color: black;
        text-decoration: none;
    }
}

.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px !important;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}
